.form-parent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}
#password{
    width: 250px;
    height: 35px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline-style: none;
    background-color: transparent;
    border-bottom: 1.4px solid cornsilk;
}
#email{
    width: 250px;
    height: 35px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline-style: none;
    background-color: transparent;
    border-bottom: 1.4px solid cornsilk;
}
h1{
    font-size: 25px;
}

#email-error{
    height: 25px;
    font-size: 14px;
    color: red;
    font-weight: 600;
}
#pass-error{
    height: 25px;
    font-size: 14px;
    color: red;
    font-weight: 600;
}
.parent-img{
    /* width: 100%; */
    border: 1px solid red;
    width: 650px;
    height: 100vh;
}
.parent{
   
    background-color: rgba(248, 248, 248, 0.719);
    width: auto;
    float: right;
    height: auto;
    margin-top: 2%;
    margin-right: 15%;
    border-radius: 10px;
    box-shadow: 3px 3px 6px  rgba(128, 128, 128, 0.781),-3px -3px 6px rgba(128, 128, 128, 0.548);
}
body{
   background: url('/Images/juan-encalada-6mcVaoGNz1w-unsplash\ \(1\).jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.card-img-top{
    border-radius: 10px 10px 0px 0px;
}
.forgot{
    text-decoration: none;
    color: black;
    font-size: 13px;
    margin-left: 90px;
    transition: .4s;
}
.forgot:hover{
    color: red;
}
.fa-google{
    color: grey;
}
.fa-facebook{
    color: grey;
}
.fa-twitter{
    color: grey;
}
.fa-brands{
    font-size: 25px;
    transition: transform .4s;
    margin: 10px;
    cursor: pointer;
}
.fa-facebook:hover{
    transform: scale(1.3);
    color: rgba(5, 5, 184, 0.753);
}
.fa-google:hover{
    color:rgb(146, 2, 2);
    transform: scale(1.3);
}
.fa-twitter:hover{
    color: dodgerblue;
    transform: scale(1.3);
}
.btn-outline-success{
    float: left;
}
.newaccount{
    color: black;
    transition: color .4s;
}
.newaccount:hover{
    color: red;
}


@media screen and (min-width:360px) and (max-width:600px) {
    .parent{
        margin-top: 80px;
    }
    
}