.btn{
    margin-top: 20px;
}
.form-group{
    width: 380px;
}
.error{
    color: red;
    font-style: italic;
    height: 30px;
}
body{
  background: url('/Images/juan-encalada-6mcVaoGNz1w-unsplash\ \(1\).jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
    background-color: rgba(248, 248, 248, 0.719);
    width: auto;
    height: auto;
    float: right;
    margin-top: 2%;
    margin-right: 15%;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 3px 3px 6px  rgba(128, 128, 128, 0.781),-3px -3px 6px rgba(128, 128, 128, 0.548);
}
.name{
   /* border: none 1.5px solid cornsilk none none; */
   background-color: transparent;
   outline-style: none;
   border-bottom: 1.5px solid cornsilk;
   border-top: none;
   border-left: none;
   border-right: none;
   width: 375px;
}
.email{
   background-color: transparent;
   outline-style: none;
   border-bottom: 1.5px solid cornsilk;
   border-top: none;
   border-left: none;
   border-right: none;
   width: 375px;
}
.password{
   background-color: transparent;
   outline-style: none;
   border-bottom: 1.5px solid cornsilk;
   border-top: none;
   border-left: none;
   border-right: none;
   width: 375px;
}
.conPass{
    background-color: transparent;
    outline-style: none;
    border-bottom: 1.5px solid cornsilk;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 375px;
}
.submit{
    /* display: inline-block; */
    background-color: transparent;
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    width: 100px;
    transition: border-radius .6s;
}
.submit:hover{
    border-radius: 15px;
}
.reset{
    background-color: transparent;
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    width: 100px;
    transition: border-radius .6s;
}
.reset:hover{
    border-radius: 15px;
}

a{
    font-size: 14px;
    color: black;
    transition: color .4s;
}
a:hover{
    color: red;
}
/* .d-flex{
    text-align: center;
} */

.fa-google{
    color: grey;
}
.fa-facebook{
    color: grey;
}
.fa-twitter{
    color: grey;
}
.fa-brands{
    font-size: 25px;
    transition: transform .4s;
    margin: 10px;
    cursor: pointer;
}
.fa-facebook:hover{
    transform: scale(1.3);
    color: rgba(5, 5, 184, 0.753);
}
.fa-google:hover{
    color:rgb(146, 2, 2);
    transform: scale(1.3);
}
.fa-twitter:hover{
    color: dodgerblue;
    transform: scale(1.3);
}
.other-subscrib{
    text-align: center;
    margin-top: 20px;
}


@media screen and (min-width:360px) and (max-width:860px) {
  #form{
      margin-right: -100px;
  }
}