body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
div .fa-user{
    color: gray;
    font-size: 22px;
    padding: 10px;
}
.main{
    text-align: center;
    height: 100vh;
}
.hint_text{
    color: gray;
    margin-top: 20px;
}
.input_field{
    margin-top: 60px;
}
div input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid gray;
    outline-style: none;
    width: 350px;
    color: gray;
    font-size: 17px;
}
::placeholder{
    color: gray;
    font-size: 16px;
}
.reset_btn{
    background-color: #5800FF;
    padding: 10px;
    color: white;
    border: none;
    width: 250px;
    font-size: 16px;
    margin-top: 30px;
    transition: background .5s;
}
.reset_btn:hover{
    background: #290174;
}
.register_text{
    color: gray;
}
.text-danger{
    height: 30px;
}
a{
    color: white;
    margin-left: 3px;
    text-decoration: none;
    transition: color .4s;
}
a:hover{
    color:rgb(160, 7, 7);
}
.register_parent{
    margin-top: 100px;
}

.child{
    background-image: url('../images/regularguy-eth-r8VbpgMS6Uc-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media screen and (min-width:360px) and (max-width:860px) {
    .child{
        display: none;
    }
    .main{
        width: 100% !important;
    }
    
}



