.display_payment{
    width: 580px;
}
.payment_options{
    width: 310px;
    background-color:rgb(208, 243, 255) ;
}
.booking_details{
    background-color: white;
    box-shadow: 3px 3px 6px gray,-3px -3px 6px gray;
    border-radius: 6px;
    width: 330px;
    margin: 10px;
}
.payment_head{
    font-weight: bolder;
    font-size: 16px;
    padding: 10px;
    border-bottom: 1.5px solid gray;
    background-color: rgb(208, 243, 255);
}
.button:not(button[type="submit"]){
    background-color: rgb(207, 239, 250);
    border-bottom: 1.5px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 310px;
    padding: 10px;
    text-align: start;
    transition: background .4s;
}
.button:not(button[type="submit"]):hover{
    background: white;
}
#cardBtn{
    background-color: white;
    border-left: 10px solid #11d1f3;
}

button i{
    font-size: 20px;
    padding: 3px;
}

button span{
    color: blue;
    font-weight: bold;
}
button div{
    font-size: 14px;
    font-weight: bolder;
}
form{
    background-color: white;
}
input{
    height: 40px;
    outline-style: none;
    border: 1px solid gray;
    border-radius: 3px;
}
select::placeholder{
    color: gray;
}
.card_cvv{
    width: 270px;
}
.card_cvv input{
    width: 270px;
}
select{
    border: none;
    outline-style: none;
    width: 150px;
    height: 40px;
    border: 1px solid gray;
}
option{
    font-size: 18px;
}

div #month{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
div #year{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
button[type='submit']{
    background: linear-gradient(to right, #5800FF, #0096FF,#11d1f3);
    color: white;
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
button[type='submit']:hover{
    background: linear-gradient(to left, #5800FF, #0096FF,#11d1f3);
}
#total_price{
    font-size: 23px;
    font-weight: bolder;
}
.error{
    color: red;
    font-size: 17px;
    height: 30px;
    text-align: left;
}
.upi_container{
    width: 600px;
    margin-top: 10px;
    display: none;
}
.child_upi{
    height: 400px;
    border-radius: 5px;
    margin: 20px;
}
.phone_handy{
    color: goldenrod;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.child{
    margin-top: 20px;
    height: 225px;
}
.input_container{
    margin-left: 80px;
}
#upi{
    width: 400px;
}
#amount{
    width: 400px;
}

input[type='button']{
    background: linear-gradient(to right, #5800FF, #0096FF,#11d1f3);
    border-radius: 10px;
    height: 50px;
    border: none;
    width: 250px;

}

input[type='button']:hover{
    background: linear-gradient(to left, #5800FF, #0096FF,#11d1f3);

}
#payBtn{
    display: none;
}
#input_field{
    display: none;
}

@media screen and (min-width:360px) and (max-width:740px) {
    .main{
        flex-direction: column;
        width: 80vh;
    }
    
    .payment_options{
        display: flex;
    }

    .booking_details{
        width:90%;
        margin-left: 40px;
    }
    form{
        margin-left: 60px;
        width: 100%;
        margin-top: 20px;
    }
}


