.form-section{
    display: flex;
    margin-top: 62px;
}

.travelLikeKing img{
    width: 100%;
    height: 100%;
}

.form_container{
    width: 50%;
}

.text-danger{
    height: 25px;
}

.myclass{
    width: 50%;
    margin: 20px 0px 20px 80px;
    border-radius: 20px;

}

.footer{
	display: flex;
	flex-wrap: wrap;
}
footer{
	background-color: rgba(0, 0, 0, 0.904);
}

.box{
	height: 250px;
	width: 350px;
	color: white;
	margin-left: 50px;
	padding: 10px;
}
.text{
	color:white;
	font-size: x-large;
	font-family: sans-serif;
}
.border{
	/* height: 10px; */
	width: 100px;
	background-color: white;
	border: 2px white solid;
  
}
.footer-img{
	margin-top: 20px;
	margin-left: 50px;
}
.copyright{
	color: white;
	padding: 10px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.856);
} 
.fa-location-dot{
	color: white;
	transition: transform .6s;
}
.fa-location-dot:hover{
	transform: scale(2.1);
}

.redbus-loaction{
	color: white;
	transition: transform .7s,color .7s;
}
.redbus-loaction:hover{
	color:white;
	transform: scale(2.1);
}
.fa-brands{
	margin: 10px;
	font-size: 20px;
	transition: transform .5s,color .5s;
	cursor: pointer;
}
.fa-facebook:hover{
	transform: scale(1.6);
	color: rgb(1, 1, 163);
}
.fa-instagram:hover{
	transform: scale(1.6);
	color: darkred;
}
.fa-twitter:hover{
	transform: scale(1.6);
	color: dodgerblue;
}


