.table-responsive{
    margin-top: 80px;
}
body{
    background-color: whitesmoke;
}

.bus_detail{
    background-color: white;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 5px 4px rgb(158, 153, 153);
    height: 130px;
}
.onward_detail{
    background-color: white;
    padding: 10px;
    margin-top: 5px;
    box-shadow: 0px 2px 2px rgb(158, 153, 153);

}
.traveller_Detail{
    background-color: white;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 2px 2px rgb(158, 153, 153);
    margin-bottom: 5px;
}




.emoji{
    border-radius: 50%;
    overflow: hidden;
    height: 30px;
    width: 30px;

}

#iemoji img{
    margin: 6px;
}
#iemoji {
    display: flex;
    align-items: center;
    transform:translateX(-160px) ;
    transition: 0.3s;
}
.rating .fa-star{
    color: #c0c0c0;
    cursor: pointer;
}
#submit_rating{
    display: none;
}
table,thead,tr,td,tbody,th{
    border: 1px solid gray;
}
.odd{
    border: 1px solid gray;
}

